h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-weight: 400; 
  line-height: 1.2;
}


h1 {
  font-size: grid(80/60);
  @include min-('font-size', 80/60, 32);

  & + h2 {
    margin-top: 0;
  }
}

h2, h5 {
  font-size: grid(1);
  @include min-('font-size', 1, 18);
}

h3 {
  font-size: rem(24);
  & + h4 {
    margin-top: rem(10);
  }
  & + p, & + .content {
    margin-top: 1rem;
  } 
}

h4 {
  font-size: 20px;
  line-height: 1.45;
  & + p, & + .content {
    margin-top: 1.5rem;
  } 
}

p {
  font-size: 1rem;
  line-height: 1.5;
}